<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/logo_binarywards.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Binarywards</h3>
    <ul>
      <li>Python</li>
      <li>Flask</li>
      <li>Jquery</li>
      <li>PostgreSQL</li>
    </ul>
    <p>Bina rywards is a platform that brings together businesses and the consumers of their various 
    products. We acts as an intermediary giving businesses the chance to reward their consumers usually
    by the basis of the purchased products. We also provide powerful analytics based on the campaigns 
    held by businesses which can provide a better insight into their market.</p>
    <a class="project-link" href="https://binarywards.tech">Check it out</a>
  </div>
</div>
